<div class="bg-warning d-flex justify-content-center text-center mb-4">
    <p class="h1 text-dark">Asignatura</p> 
  
 </div>

<div class="container-fluid" [style]="{width: '100%', height: '54vh'}">
    <div class="row d-flex justify-content-center text-center">
        <div routerLink="/area-page" routerLinkActive="active" class="btn btn-danger col-8 my-2">Matemáticas</div>
        <div class="btn btn-info col-8 my-2">Lengua</div>
        <div class="btn btn-success col-8 my-2">Biología</div>
        
        


    </div>

</div>