<div class="bg-warning d-flex justify-content-center text-center">
   <p class="h1 text-dark">Ejercicios Geometría Tema 1</p> 
</div>

<p-scrollPanel [style]="{width: '100%', height: '54vh'}" styleClass="custom">

<div class="text-center p-5">

            <!--
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                Descargar PDF Temari
            </button>
            -->
    <div>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#exerciseDropdown" role="button"
                aria-expanded="false" aria-controls="exerciseDropdown">
                Ejercicio 1

                
            </a>

            
            <a class="btn btn-outline-info" data-toggle="collapse" href="#pdfDropdown" role="button"
            aria-expanded="false" aria-controls="pdfDropdown">
            PDF Temario
            </a>
        </p>
        
        <div class="collapse" id="exerciseDropdown">
            <p-card class="row d-flex justify-content-around bg-light">
                <p>Enunciado ejercicio 1. calcula A y B dato C.</p>
                
                <input class="col-12" type="text" pInputText />
                
                <button class="col-3 mt-3 btn btn-outline-success" type="submit">Confirmar</button>

                <button class="col-3 mt-3 btn btn-outline-warning " type="button" pButton label="Basic" (click)="op.toggle($event)">Pista</button>
                    <p-overlayPanel #op>
                        <ng-template pTemplate>
                            <div class="ml-3">A + B = C</div>
                        </ng-template>
                    </p-overlayPanel>
            </p-card>    
        </div>
        
        <div class="collapse" id="pdfDropdown">
            
                <a href="">temarioseducativos.com</a> 
               
        </div>
    


        




    
    </div>
    
    






    <div>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#exerciseDropdown" role="button"
                aria-expanded="false" aria-controls="exerciseDropdown">
                Ejercicio 1

                
            </a>

            
            <a class="btn btn-outline-info" data-toggle="collapse" href="#pdfDropdown" role="button"
            aria-expanded="false" aria-controls="pdfDropdown">
            PDF Temario
            </a>
        </p>
        
        <div class="collapse" id="exerciseDropdown">
            <p-card class="row d-flex justify-content-around bg-light">
                <p>Enunciado ejercicio 1. calcula A y B dato C.</p>
                
                <input class="col-12" type="text" pInputText />
                
                <button class="col-3 mt-3 btn btn-outline-success" type="submit">Confirmar</button>

                <button class="col-3 mt-3 btn btn-outline-warning " type="button" pButton label="Basic" (click)="op.toggle($event)">Pista</button>
                    <p-overlayPanel #op>
                        <ng-template pTemplate>
                            <div class="ml-3">A + B = C</div>
                        </ng-template>
                    </p-overlayPanel>
            </p-card>    
        </div>
        
        <div class="collapse" id="pdfDropdown">
            
                <a href="">temarioseducativos.com</a> 
               
        </div>
    


        




    
    </div>

    <div>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#exerciseDropdown" role="button"
                aria-expanded="false" aria-controls="exerciseDropdown">
                Ejercicio 1

                
            </a>

            
            <a class="btn btn-outline-info" data-toggle="collapse" href="#pdfDropdown" role="button"
            aria-expanded="false" aria-controls="pdfDropdown">
            PDF Temario
            </a>
        </p>
        
        <div class="collapse" id="exerciseDropdown">
            <p-card class="row d-flex justify-content-around bg-light">
                <p>Enunciado ejercicio 1. calcula A y B dato C.</p>
                
                <input class="col-12" type="text" pInputText />
                
                <button class="col-3 mt-3 btn btn-outline-success" type="submit">Confirmar</button>

                <button class="col-3 mt-3 btn btn-outline-warning " type="button" pButton label="Basic" (click)="op.toggle($event)">Pista</button>
                    <p-overlayPanel #op>
                        <ng-template pTemplate>
                            <div class="ml-3">A + B = C</div>
                        </ng-template>
                    </p-overlayPanel>
            </p-card>    
        </div>
        
        <div class="collapse" id="pdfDropdown">
            
                <a href="">temarioseducativos.com</a> 
               
        </div>
    


        




    
    </div>
    <div>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#exerciseDropdown" role="button"
                aria-expanded="false" aria-controls="exerciseDropdown">
                Ejercicio 1

                
            </a>

            
            <a class="btn btn-outline-info" data-toggle="collapse" href="#pdfDropdown" role="button"
            aria-expanded="false" aria-controls="pdfDropdown">
            PDF Temario
            </a>
        </p>
        
        <div class="collapse" id="exerciseDropdown">
            <p-card class="row d-flex justify-content-around bg-light">
                <p>Enunciado ejercicio 1. calcula A y B dato C.</p>
                
                <input class="col-12" type="text" pInputText />
                
                <button class="col-3 mt-3 btn btn-outline-success" type="submit">Confirmar</button>

                <button class="col-3 mt-3 btn btn-outline-warning " type="button" pButton label="Basic" (click)="op.toggle($event)">Pista</button>
                    <p-overlayPanel #op>
                        <ng-template pTemplate>
                            <div class="ml-3">A + B = C</div>
                        </ng-template>
                    </p-overlayPanel>
            </p-card>    
        </div>
        
        <div class="collapse" id="pdfDropdown">
            
                <a href="">temarioseducativos.com</a> 
               
        </div>
    


        




    
    </div>
    <div>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#exerciseDropdown" role="button"
                aria-expanded="false" aria-controls="exerciseDropdown">
                Ejercicio 1

                
            </a>

            
            <a class="btn btn-outline-info" data-toggle="collapse" href="#pdfDropdown" role="button"
            aria-expanded="false" aria-controls="pdfDropdown">
            PDF Temario
            </a>
        </p>
        
        <div class="collapse" id="exerciseDropdown">
            <p-card class="row d-flex justify-content-around bg-light">
                <p>Enunciado ejercicio 1. calcula A y B dato C.</p>
                
                <input class="col-12" type="text" pInputText />
                
                <button class="col-3 mt-3 btn btn-outline-success" type="submit">Confirmar</button>

                <button class="col-3 mt-3 btn btn-outline-warning " type="button" pButton label="Basic" (click)="op.toggle($event)">Pista</button>
                    <p-overlayPanel #op>
                        <ng-template pTemplate>
                            <div class="ml-3">A + B = C</div>
                        </ng-template>
                    </p-overlayPanel>
            </p-card>    
        </div>
        
        <div class="collapse" id="pdfDropdown">
            
                <a href="">temarioseducativos.com</a> 
               
        </div>
    


        




    
    </div>
    <div>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#exerciseDropdown" role="button"
                aria-expanded="false" aria-controls="exerciseDropdown">
                Ejercicio 1

                
            </a>

            
            <a class="btn btn-outline-info" data-toggle="collapse" href="#pdfDropdown" role="button"
            aria-expanded="false" aria-controls="pdfDropdown">
            PDF Temario
            </a>
        </p>
        
        <div class="collapse" id="exerciseDropdown">
            <p-card class="row d-flex justify-content-around bg-light">
                <p>Enunciado ejercicio 1. calcula A y B dato C.</p>
                
                <input class="col-12" type="text" pInputText />
                
                <button class="col-3 mt-3 btn btn-outline-success" type="submit">Confirmar</button>

                <button class="col-3 mt-3 btn btn-outline-warning " type="button" pButton label="Basic" (click)="op.toggle($event)">Pista</button>
                    <p-overlayPanel #op>
                        <ng-template pTemplate>
                            <div class="ml-3">A + B = C</div>
                        </ng-template>
                    </p-overlayPanel>
            </p-card>    
        </div>
        
        <div class="collapse" id="pdfDropdown">
            
                <a href="">temarioseducativos.com</a> 
               
        </div>
    


        




    
    </div>
    <div>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#exerciseDropdown" role="button"
                aria-expanded="false" aria-controls="exerciseDropdown">
                Ejercicio 1

                
            </a>

            
            <a class="btn btn-outline-info" data-toggle="collapse" href="#pdfDropdown" role="button"
            aria-expanded="false" aria-controls="pdfDropdown">
            PDF Temario
            </a>
        </p>
        
        <div class="collapse" id="exerciseDropdown">
            <p-card class="row d-flex justify-content-around bg-light">
                <p>Enunciado ejercicio 1. calcula A y B dato C.</p>
                
                <input class="col-12" type="text" pInputText />
                
                <button class="col-3 mt-3 btn btn-outline-success" type="submit">Confirmar</button>

                <button class="col-3 mt-3 btn btn-outline-warning " type="button" pButton label="Basic" (click)="op.toggle($event)">Pista</button>
                    <p-overlayPanel #op>
                        <ng-template pTemplate>
                            <div class="ml-3">A + B = C</div>
                        </ng-template>
                    </p-overlayPanel>
            </p-card>    
        </div>
        
        <div class="collapse" id="pdfDropdown">
            
                <a href="">temarioseducativos.com</a> 
               
        </div>
    


        




    
    </div>
    <div>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#exerciseDropdown" role="button"
                aria-expanded="false" aria-controls="exerciseDropdown">
                Ejercicio 1

                
            </a>

            
            <a class="btn btn-outline-info" data-toggle="collapse" href="#pdfDropdown" role="button"
            aria-expanded="false" aria-controls="pdfDropdown">
            PDF Temario
            </a>
        </p>
        
        <div class="collapse" id="exerciseDropdown">
            <p-card class="row d-flex justify-content-around bg-light">
                <p>Enunciado ejercicio 1. calcula A y B dato C.</p>
                
                <input class="col-12" type="text" pInputText />
                
                <button class="col-3 mt-3 btn btn-outline-success" type="submit">Confirmar</button>

                <button class="col-3 mt-3 btn btn-outline-warning " type="button" pButton label="Basic" (click)="op.toggle($event)">Pista</button>
                    <p-overlayPanel #op>
                        <ng-template pTemplate>
                            <div class="ml-3">A + B = C</div>
                        </ng-template>
                    </p-overlayPanel>
            </p-card>    
        </div>
        
        <div class="collapse" id="pdfDropdown">
            
                <a href="">temarioseducativos.com</a> 
               
        </div>
    


        




    
    </div>
    <div>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#exerciseDropdown" role="button"
                aria-expanded="false" aria-controls="exerciseDropdown">
                Ejercicio 1

                
            </a>

            
            <a class="btn btn-outline-info" data-toggle="collapse" href="#pdfDropdown" role="button"
            aria-expanded="false" aria-controls="pdfDropdown">
            PDF Temario
            </a>
        </p>
        
        <div class="collapse" id="exerciseDropdown">
            <p-card class="row d-flex justify-content-around bg-light">
                <p>Enunciado ejercicio 1. calcula A y B dato C.</p>
                
                <input class="col-12" type="text" pInputText />
                
                <button class="col-3 mt-3 btn btn-outline-success" type="submit">Confirmar</button>

                <button class="col-3 mt-3 btn btn-outline-warning " type="button" pButton label="Basic" (click)="op.toggle($event)">Pista</button>
                    <p-overlayPanel #op>
                        <ng-template pTemplate>
                            <div class="ml-3">A + B = C</div>
                        </ng-template>
                    </p-overlayPanel>
            </p-card>    
        </div>
        
        <div class="collapse" id="pdfDropdown">
            
                <a href="">temarioseducativos.com</a> 
               
        </div>
    


        




    
    </div>


</div>
</p-scrollPanel>