<nav class="row navbar navbar-expand-md d-flex align-center">
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item">
          <a routerLink="/" routerLinkActive="active" class="navbar-brand text-light"  href="#">Martín</a>
        </li>
        
        <!--SUBJECT-->
        <li class="nav-item">
          <a routerLink="/subject-page" routerLinkActive="bg-success rounded" class="nav-link text-light">Asignaturas<span class="sr-only">(current)</span></a>
        </li>
        <!--SETTINGS-->
        <li class="nav-item">
          <a routerLink="/settings-page" routerLinkActive="bg-success rounded" class="nav-link text-light" tabindex="-1" aria-disabled="true">Ajustes</a>
        </li>
        
        <!--LOGIN-->
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="bg-success" class="nav-link text-light" tabindex="-1" aria-disabled="true">LOGIN</a>
        </li>
        <!--REGISTER-->
        <li class="nav-item">
          <a routerLink="/register-page" routerLinkActive="active" routerLinkActive="bg-danger" class="nav-link text-light" tabindex="-1" aria-disabled="true">REGISTER</a>
        </li>
        <!--TEST 1-->
        <li class="nav-item">
          <a routerLink="/test1" routerLinkActive="active" routerLinkActive="bg-danger" class="nav-link text-light" tabindex="-1" aria-disabled="true">PRUEBAS 1</a>
        </li>
        <!--TEST 2-->
        <li class="nav-item">
          <a routerLink="/test2" routerLinkActive="active" routerLinkActive="bg-danger" class="nav-link text-light" tabindex="-1" aria-disabled="true"><P>PRUEBAS 2</P></a>
        </li>

      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-success btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    
    </div>
  </nav>