<!-- MENU LATERAL //  -->
<div class="wrapper">
    
    <!-- Sidebar  -->
    <nav class="bg-dark" id="sidebar">
        
        <!-- Lista ASIGNATURAS  -->  
        <ul class="list-unstyled components">
            
            <!-- MATEMÁTICAS  -->  
            <li>
                <a href="#matematicasSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle materia">
                    <i class="fas fa-home"></i>
                    Matemáticas
                </a>
                <!-- Lista MATERIAS MATEMÁTICAS  -->  
                <ul class="collapse list-unstyled" id="matematicasSubmenu">
                    
                    <!-- GEOMETRÍA  -->
                    <li>
                        <a href="#geometriaSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-home"></i>
                            Geometría
                        </a>
                        <!-- Lista TEMAS GEOMETRÍA  -->
                        <ul class="collapse list-unstyled" id="geometriaSubmenu">
                            <!-- TEMA 1  -->    
                            <li>   
                                <a href="">
                                <i class="fas fa-home"></i>
                                Tema 1
                                </a>
                            </li>
                            <!-- TEMA 2  -->
                            <li>   
                                <a href="">
                                <i class="fas fa-home"></i>
                                Tema 2
                                </a>
                            </li> 
                            <!-- TEMA 3  -->
                            <li>   
                                <a href="">
                                <i class="fas fa-home"></i>
                                Tema 3
                                </a>
                            </li> 
                        </ul>
                    </li>
                    
                    <!-- ÁLGEBRA  -->
                    <li>
                        <a href="#algebraSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-home"></i>
                            Álgebra
                        </a>
                        <!-- Lista TEMAS ÁLGEBRA  -->
                        <ul class="collapse list-unstyled" id="algebraSubmenu">
                            <!-- TEMA 1  -->
                                <li>   
                                <a href="">
                                <i class="fas fa-home"></i>
                                Tema 1
                                </a>
                            </li>
                            <!-- TEMA 2  -->
                            <li>   
                                <a href="">
                                <i class="fas fa-home"></i>
                                Tema 2
                                </a>
                            </li> 
                            <!-- TEMA 3  -->
                            <li>   
                                <a href="">
                                <i class="fas fa-home"></i>
                                Tema 3
                                </a>
                            </li> 
                        </ul>     
                    </li>
                    
                    <!-- ESTADÍSTICA  -->
                    <li>
                        <a href="#estadisticaSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-home"></i>
                            Estadística
                        </a>
                        <!-- Lista TEMAS ESTADÍSTICA  -->
                        <ul class="collapse list-unstyled" id="estadisticaSubmenu">
                            <!-- TEMA 1  -->
                            <li>   
                                <a href="">
                                <i class="fas fa-home"></i>
                                Tema 1
                                </a>
                            </li>
                            <!-- TEMA 2  -->
                            <li>   
                                <a href="">
                                <i class="fas fa-home"></i>
                                Tema 2
                                </a>
                            </li> 
                            <!-- TEMA 3  -->
                            <li>   
                                <a href="">
                                <i class="fas fa-home"></i>
                                Tema 3
                                </a>
                            </li> 
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

</div> 