
<!--- -->

<header class="container-fluid bg-dark">
    <app-header></app-header>
</header>

<nav class="container-fluid bg-primary">
    <app-navbar></app-navbar>
</nav>

<main class="container-fluid bg-success" >
    

        <div class="row d-flex justify-content-center bg-dark" [style]="{height: '70vh'}">
    
            <div class="col-2">
    
            </div>
    
            <div class="col-8 py-3">
    
                <app-main></app-main>
    
            </div>
    
            <div class="col-2">
    
            </div>
        </div>
</main>

<footer class="container-fluid bg-light">
    <app-footer></app-footer>
</footer>

