
    .header{
        height: 15%;
        
    }

    .nab{
        height: 10%;
        
    }

    .main{
        height: 70%;
        
    }

    .footer{
        height: 5%;
        background-color: rgb(53, 201, 53);
    }